<!--


<div class="container-fluid">

  <div class="row row-nav">
    <div class="col-md-6">Welcome!</div>
    <div class="col-md-6">
      <span class="float-right">
      <a href="#" class="active">Minton</a>
      <a> / </a>
      <a href="#">Dashboard</a>
    </span>
  </div>
</div>

  <div class="row">

    <div class="col-md-3 col-top colboard d-flex align-items-center">

      <div class="col-md-6 justify-content-start">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard"></use>
        </svg>
      </div>
      <div class="col-md-6 justify-content-end">
        <h3 class="top-data">64,570</h3>
        <p class="data-description">Today's Value</p>

      </div>
    </div>
    <div class="col-md-3 col-top colboard">Column</div>
    <div class="col-md-3 col-top colboard">Column</div>
    <div class="col-md-3 col-top colboard">Column</div>

  </div>

  <div class="row row-stats">
    <div class="col-md-4 colboard"></div>
    <div class="col-md-4 colboard"></div>
    <div class="col-md-4 colboard"></div>
  </div>

  <div class="row row-botom">
  <div class="col-md-8 colboard"></div>
  <div class="col-md-4 colboard">
    <div class="row">
      <div class="col-md-12 colboard"></div>
      <div class="col-md-12 colboard"></div>
      <div class="col-md-12 colboard"></div>
    </div>
  </div>

  </div>

</div> -->

<!-- <div class="container-fluid">
  <div class="row">

    <div class="col-md-3">
      <div class="row">
      <div class="col-4">
        <div class="circle">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard"></use>
        </svg>
      </div>
    </div>

      <div class="col-8 justify-content-end">
        <h5 class="top-data">64,570</h5>
        <p class="data-description">Today's Value</p>

      </div>
    </div>
    </div>

    <div class="col-md-3">
      <div class="row">
      <div class="col-4">
        <div class="circle">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard"></use>
        </svg>
      </div>
    </div>
      <div class="col-8 justify-content-end">
        <h5 class="top-data">64,570</h5>
        <p class="data-description">Today's Value</p>
      </div>
    </div>
    </div>

    <div class="col-md-3">
      <div class="row">
      <div class="col-4">
        <div class="circle">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard"></use>
        </svg>
      </div>
    </div>
      <div class="col-8 justify-content-end">
        <h5 class="top-data">64,570</h5>
        <p class="data-description">Today's Value</p>
      </div>
    </div>
    </div>

    <div class="col-md-3">
      <div class="row">
      <div class="col-4">
        <div class="circle">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dashboard"></use>
        </svg>
      </div>
    </div>
      <div class="col-8 justify-content-end">
        <h5 class="top-data">64,570</h5>
        <p class="data-description">Today's Value</p>
      </div>
    </div>
    </div>
</div>
        
</div> -->
