<div class="topbar">
    <nav class="nav-bar nav-bar--left">
        <ul class="nav-bar__lists">
            <li>
              <svg class="svg-logo">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#maps"></use>
              </svg>
              <a class="nav-bar__lists__link nav-bar__list__link--logo" href="#">ADMIN</a>
            </li>
        </ul>
    </nav>
    <nav class="nav-bar nav-bar--right">
        <ul class="nav-bar__lists nav-bar__lists--left">
          <svg class="nav-bar__lists nav-bar__lists--svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Ukit"></use>
          </svg>
            <li><a class="nav-bar__lists__link" href="#"></a>BURGER</li>
            <div class="tevinis su gera klase">
            <input class="nav-bar__lists__search" type="text" placeholder="Search.." name="search"></input>
              <!-- <svg class="cia eis looking glas svg dalykai"></svg> -->
          </div> <!-- uzsidaro tevinis su gera klase, naudoti position apsolute ir taip ikelti ikona i search langa -->
          <!-- jei klase nepriklausona nuo nav baro galiu deti bet koki pavadinima, jei ji bus tik nav bare, geriau susideti pagal jau esanciu klasiu logika -->
        </ul>
        <ul class="nav-bar__lists nav-bar__lists--right">
            <li><a class="nav-bar__lists__link" href="#"></a></li>
            <li><a class="nav-bar__lists__link" href="#">btn</a></li>
            <li><a class="nav-bar__lists__link" href="#">btn</a></li>
            <li><a class="nav-bar__lists__link" href="#">icon</a></li>
        </ul>
    </nav>
</div>
