<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
  {{>navbar}}

  <div class="section-container">
    {{body}}
  </div>
    {{>sidebar}}
    {{>main}}
    {{#is basename 'index'}}
    {{>footer}}
    {{/is}}
    <div class="svg-sprite-container">{{> 'sprite.symbol' }}</div> <!-- kad veiktu svg sprite ir loudintu failus -->
</body>
</html>
