<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/css/app.css">

  <title>Profile page</title>



</head>

<body>


  {{body}}


  <div class="svg-sprite-container">{{> 'sprite.symbol' }}</div>
  <script type="text/jscript" src="assets/js/charts.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script type="text/jscript" src="assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>


</body>

</html>