---
custom_basename: profile
---
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col">
          <div class="boxes">
            <div class="user-info">
              <div class="user-info__top">
              <div class="foto">
                <img class="boxes__image boxes__image--size-big foto__round" src="assets/images/rMeska.jpeg" alt="user picture"></img>
              </div>
              <div class="name-block d-flex flex-column">
                <h6 class="name-block__font-big">Robotas Meska</h6>
                <span class="name-block__font-small">@roboBear</span>
              </div>

              <div class="buttons">
                <button type="button" class="btn btn-success">Follow</button>
                <button type="button" class="btn btn-danger">Message</button>
              </div>
            </div>
            <div class="user-info__contacts">

                <p><span class="bolded mr-2">Full Name :</span><span class="text-gray">Robotas Meska</span></p>
                <p><span class="bolded mr-2">Mobile :</span><span class="text-gray"> (123) 123 1234</span></p>
                <p><span class="bolded mr-2">Email :</span><span class="text-gray">robomeska@gmail.com</span></p>
                <p><span class="bolded mr-2">Location :</span><span class="text-gray">Siberia</span></p>

            </div>
            <div class="user-info__bottom d-flex justify-content-center">
              <div class="circle">
                <svg class="svg-icon svg-icon--color">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                </svg>
              </div>
              <div class="circle">
                <svg class="svg-icon svg-icon--color">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                </svg>
              </div>
              <div class="circle">
                <svg class="svg-icon svg-icon--color">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
                </svg>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End of user info - contacts box -->

      <!-- start of skills bar -->
      <div class="row">
        <div class="col">
          <div class="boxes">
            <div class="progres-box">
              <h6 class="progres-box__title mb-3">Skills</h6>

              <h6 class="proraming-language my-3">Mushroom picking</h6>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
              </div>

              <h6 class="proraming-language my-3">Fishing</h6>
              <div class="progress" style="height: 5px;">
                <div class="progress-bar" role="progressbar" style="width: 66%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <h6 class="proraming-language my-3">Trolling</h6>
            <div class="progress" style="height: 5px;">
              <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- end of skills bar -->

    <!-- right box start -->
    <div class="col-lg-8">
      <div class="boxes">
        <!-- <form> -->

          <div class="form-group">
            <!-- Top nav bar start -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="about-me-tab" data-toggle="tab" href="#about-me" role="tab" aria-controls="about-me" aria-selected="true">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="settings-tab-profile" data-toggle="tab" href="#settings-profile" role="tab" aria-controls="settings-profile" aria-selected="false">Settings</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent-2">
              <div class="tab-pane fade show active" id="about-me" role="tabpanel" aria-labelledby="about-me-tab">vienas</div>
              <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">du</div>
              <div class="tab-pane fade" id="settings-profile" role="tabpanel" aria-labelledby="settings-tab-profile">trys</div>
            </div>
            <!-- Top nav bar end -->

            <form>
            <label for="inputEmail4">Full Name</label>
            <input type="name" class="form-control" id="inputName" placeholder="John Doe">
          </div>

          <div class="form-group">
            <label for="inputAddress">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Steve">
          </div>
          <div class="form-group">
            <label for="inputAddress">Username</label>
            <input type="username" class="form-control" id="inputUsername" placeholder="Steve">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="6-15 char">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Re-Password</label>
            <input type="re-password" class="form-control" id="inputRePassword" placeholder="6-15 char">
          </div>

            <div class="form-group form-group--bottom">
              <label for="inputCity">About Me</label>
              <p class="">Post-ironic quinoa art party pickled, messenger bag sriracha
                polaroid drinking vinegar flannel. Live-edge pickled vinyl,
                polaroid vexillologist tilde selvage hashtag hammock. Green juice
                 small batch sustainable mlkshk butcher cornhole vegan dreamcatcher
                  roof party aesthetic direct trade.</p>
            </div>

            <div class="btn-bottom">
              <button type="submit" class="btn btn-primary outline-top">Save</button>
            </div>

        </form>

    </div>
  </div>

  <!-- Right box end -->

</div>
</div>
